doctype html
html(lang='en')
  head
    title Articles
    link(rel='stylesheet' type='text/css' href='/list.css')

  body.global
    .l-wrap.l-hidden

      header.top-header Latest Articles

      form.article-form.l-push
        input(placeholder='www.url.com')
        a(href='#') Add
        p.article-form-error Sorry, we were unable to parse that article
